.table-container{
  background-color: #EFEEED;
  margin: 0 auto;
  margin-top: 40px;
  width: 800px;
  padding: 40px;
  font-size: 12px;
}

.table{
  background-color: #FEFEFE;
  width: 100%;
  /* vertical-align: middle; */
  margin: 0 auto;
  border-collapse: collapse;
}

th{
  background-color: #FEFC57;
  padding: 10px;
  border: 1px solid #cccccc;
  text-align: left;
  
}

tr td:first-child{

  background-color: #FEFC57;
  
}

td{
  padding: 10px;
  border: 1px solid #cccccc;
}